<div class="container">
    <h1>Courses</h1>
    <a class="btn btn-sm btn-outline-primary" [routerLink]="['/course-saves']">Save</a>
    <table class="table table-bordered">
     <thead>
         <tr>
         <td>ID</td>
         <td>Title</td>
         <td>Credits</td>
         <td></td>
         
        </tr>
        <tr *ngFor="let item of courses"> 

            <td>{{ item.CourseID }}</td>
            <td>{{ item.Title }}</td>
            <td>{{item.Credits }}</td>
            <td>
                <a class="btn btn-sm btn-outline-warning"   [routerLink]="['/course-edit', item.CourseID ]" >Editar</a>
            </td>
        </tr>
     </thead>
    </table>

</div> 
